body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}
.container {
  width: 860px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  height: auto;
  margin-top: 50px;
}
.header {
  background-color: #f0f0f0;
  height: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.tickets-box {
  padding: 20px;
}
.ticket {
  width: 95%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid black;
}
.ticket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ticket h3 {
  display: flex;
  margin: 0;
  font-size: 18px;
}
.ticket .date {
  color: #666;
  font-size: 14px;
}
.date {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  margin-top: 6px;
}
.ticket .description {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  display: none;
}
.notice-title {
  display: flex;
  align-items: center;
}
.add-ticket-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  width: auto;
  margin-bottom: 20px;
}
.add-ticket-btn:hover {
  background-color: #f0f0f0;
}
.block {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 5px;
}
.ticket-notice {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 20px;
}
.ticket-notice.active {
  background-image: url('../img/change.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}
.image-ticket {
  background-image: url('../img/change.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}
.ticket-read {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  background-image: url('../img/pencil.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  cursor: pointer;
}
.ticket-delete {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url('../img/krestik.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  cursor: pointer;
}
.date-write {
  height: auto;
  width: auto;
  display: flex;
}

/* Стили для модальных окон */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  /*z-index: 1000;*/
}
.modalOkCancel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
}
.modal-buttons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.cancel-delete, .cancel-edit {
  width: 110px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: transparent;
  margin-right: 20px;
  color: black;
}
.confirm-delete, .confirm-edit {
  width: 75px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: transparent;
  margin-right: 10px;
  color: black;
}
textarea {
  width: 400px;
  height: 40px;
}

textarea {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 5px;
}